/* Reset CSS */
@import url("./reset.css");

/* ---------------------- */
/* COMMON RULES */
/* ---------------------- */
:root {
  --rich-black: #020916;
  --rich-blue-black: #041018;
  --rich-black-opacity: rgb(2, 9, 22, 0.8);
  --prussian-blue: #003554;
  --sapphire-blue: #006494;
  --capri: #47c2ff;
  --alice-blue: #ebf7fe;
  --white: #fff;
  --grey: #9b9b9b;
  --imperial-light-red: #ec818f;
  --imperial-red: #f71834;
  --imperial-dark-red: #a50f23;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--rich-blue-black);
  color: var(--alice-blue);
  cursor: default;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--sapphire-blue);
}
h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
}
h2,
h4 {
  font-weight: 400;
  color: var(--alice-blue);
}
h1,
h3 {
  color: var(--capri);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 2rem;
}

.line-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 0.6rem;
  border: none;
  font-family: inherit;
}

.message-container-center {
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
}
.message-container {
  align-items: flex-start;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
}

.mg-top {
  margin-top: 3rem;
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */
.header,
.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header {
  height: 5rem;
  background-color: var(--rich-black);
  align-items: center;
}
.header .icon {
  height: 3.2rem;
  margin-right: 0.5rem;
}
.name {
  margin: 0 1.5rem 0.6rem 0;
  font-weight: 600;
}
.date {
  margin-right: 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--grey);
  font-style: italic;
}

/* ---------------------- */
/* MAIN */
/* ---------------------- */
main {
  min-height: calc(100vh - 10rem);
}
.main-home {
  min-height: calc(100vh - 5rem);
}
.main-boards-page {
  justify-content: flex-start;
  padding-top: 1rem;
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */
footer {
  height: 5rem;
  background-color: var(--rich-black);
}
footer > div:first-child > p {
  color: var(--capri);
  font-size: 0.9rem;
}
footer > div:first-child > p:nth-child(3) {
  margin-right: 0.4rem;
}
footer > div:last-child {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  color: var(--grey);
  font-style: italic;
}
footer > div:last-child a:hover {
  color: var(--sapphire-blue);
}
footer img {
  height: 1.6rem;
}
