/* ---------------------- */
/* HEADER */
/* ---------------------- */

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

/* ---------------------- */
/* HomePage */
/* ---------------------- */

@media (max-width: 1024px) {
  .home-page .titles {
    font-size: 3.2rem;
  }
  .home-page .titles > p:first-child {
    padding: 0rem;
  }
}
@media (max-width: 768px) {
  .home-page .titles {
    font-size: 2.8rem;
  }
  .home-page .titles > p:first-child {
    margin-bottom: 10rem;
  }
  .home-page .titles > p:last-child {
    margin-bottom: 8rem;
  }
}
@media (max-width: 576px) {
  .home-page .titles {
    font-size: 2.4rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.6rem;
  }
  .home-page .buttons-line {
    width: 60%;
  }
}

/* ---------------------- */
/* ALL BUTTONS */
/* ---------------------- */
@media (max-width: 1024px) {
  .styled-btn {
    padding: 1rem 1rem;
  }
}

/* ---------------------- */
/* ConnectionButton - COMPONENT */
/* ---------------------- */
@media (max-width: 1024px) {
  .connection-button {
    font-size: 1.2rem;
  }
}
