/* ---------------------- */
/* COMMON RULES */
/* ---------------------- */

/* 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

/* 320px */
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

/* 567px */
@media (max-width: 567px) {
  .hidden-567 {
    display: none;
  }
  br {
    display: flex;
  }
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */

/* ---------------------- */
/* FOOTER */
/* ---------------------- */

/* 567px */
@media (max-width: 567px) {
  footer > div:first-child {
    flex-direction: column;
  }
}

/* ---------------------- */
/* HomePage */
/* ---------------------- */

/* 1200px */
@media (max-width: 1200px) {
  .home-page .titles {
    font-size: 3.5rem;
  }
  .home-page .titles > p:first-child {
    padding: 0rem;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .home-page .titles {
    font-size: 3.2rem;
  }
  .home-page .titles > p:first-child {
    padding: 0rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.8rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .home-page .titles {
    font-size: 2.6rem;
  }
  .home-page .titles > p:first-child {
    margin-bottom: 6rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.6rem;
  }
  .home-page .buttons-line {
    width: 50%;
  }
}

/* 576px */
@media (max-width: 576px) {
  .home-page .titles {
    font-size: 2.4rem;
  }
  .home-page .titles > p:last-child {
    /* font-size: 1.6rem; */
  }
  .home-page .buttons-line {
    width: 70%;
  }
}

/* ---------------------- */
/* ALL BUTTONS */
/* ---------------------- */
@media (max-width: 1024px) {
  .styled-btn {
    padding: 1rem 1rem;
  }
}

/* ---------------------- */
/* ConnectionButton - COMPONENT */
/* ---------------------- */
@media (max-width: 1024px) {
  .connection-button {
    font-size: 1.2rem;
  }
}
