/* ---------------------- */
/* COMMON RULES */
/* ---------------------- */

/* 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .hidden-768 {
    display: none;
  }
  .display-768 {
    display: flex;
  }
  h1 {
    font-size: 1.4rem;
  }
}

/* 576px */
@media (max-width: 576px) {
  .hidden-576 {
    display: none;
  }
  br {
    display: flex;
  }
  h1 {
    font-size: 1rem;
  }
  .container {
    padding: 0 1rem;
  }
}

/* 320px */
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 1rem;
  }
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */

/* 768px */
@media (max-width: 768px) {
  .header .icon {
    height: 3rem;
  }
}

/* 576px */
@media (max-width: 576px) {
  .header .icon {
    height: 2.2rem;
  }
  .date {
    font-size: 0.6rem;
  }
}

/* 320px */
@media (max-width: 320px) {
  .header .icon {
    height: 2.2rem;
  }
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */

/* 576px */
@media (max-width: 576px) {
  footer > div:first-child {
    flex-direction: column;
  }
  footer > div:first-child > div > p {
    font-size: 0.7rem;
  }
}

/* ---------------------- */
/* HomePage */
/* ---------------------- */

/* 1200px */
@media (max-width: 1200px) {
  .home-page .titles {
    font-size: 3.5rem;
  }
  .home-page .titles > p:first-child {
    padding: 0rem;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .home-page .titles {
    font-size: 3.2rem;
  }
  .home-page .titles > p:first-child {
    padding: 0rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.8rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .home-page .titles {
    font-size: 2.4rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.6rem;
  }
  .home-page .buttons-line {
    width: 50%;
  }
}

/* 576px */
@media (max-width: 576px) {
  .home-page .titles {
    font-size: 2rem;
  }
  .home-page .titles > p:first-child {
    line-height: 3rem;
    margin-bottom: 4rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .home-page .buttons-line {
    width: 60%;
  }
}

/* 320px */
@media (max-width: 320px) {
  .home-page .titles {
    font-size: 1.8rem;
  }
  .home-page .titles > p:first-child {
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .home-page .titles > p:last-child {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .home-page .buttons-line {
    width: 70%;
  }
}

/* ---------------------- */
/* ConnectionButton - COMPONENT */
/* ---------------------- */

/* 1024px */
@media (max-width: 1024px) {
  .connection-button {
    font-size: 1.2rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .connection-button {
    font-size: 1rem;
  }
}

/* 576px */
@media (max-width: 576px) {
  .connection-button {
    font-size: 0.8rem;
  }
}

/* ---------------------- */
/* DisconnectionButton - COMPONENT */
/* ---------------------- */

/* 1024px */
@media (max-width: 1024px) {
  .disconnect-btn {
    font-size: 1rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .disconnect-btn {
    font-size: 0.8rem;
  }
}

/* 576px */
@media (max-width: 576px) {
  .disconnect-btn {
    font-size: 0.6rem;
  }
}

/* ---------------------- */
/* BoardCard - COMPONENT */
/* ---------------------- */

/* 1200px */
@media (max-width: 1200px) {
  .board-card {
    width: calc(100% / 2 - 2.4rem);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .board-card {
    margin: 1rem 0.6rem 1rem 0.6rem;
    width: calc(100% / 2 - 1.2rem);
  }
  .board-card:hover {
    transform: scale(1, 1.1);
  }
}

/* 768px */
@media (max-width: 768px) {
  .board-card {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
