/* ---------------------- */
/* HEADER */
/* ---------------------- */
.header {
  height: 5rem;
  background-color: var(--rich-black-med);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .icon {
  height: 4rem;
}
