/* Reset CSS */
@import url("./assets/reset.css");

/* ---------------------- */
/* COMMON RULES */
/* ---------------------- */
:root {
  --rich-black: #020916;
  --rich-blue-black: #041018;
  --prussian-blue: #003554;
  --sapphire-blue: #006494;
  --capri: #47c2ff;
  --alice-blue: #ebf7fe;
  --white: #fff;
  --grey: #9b9b9b;
  --imperial-red: #f71834;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--rich-blue-black);
  color: var(--alice-blue);
  cursor: default;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--capri);
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.line-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */
.header {
  height: 5rem;
  background-color: var(--rich-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .icon {
  height: 3.5rem;
  margin-right: 1rem;
}

/* ---------------------- */
/* MAIN */
/* ---------------------- */
main {
  min-height: calc(100vh - 10rem);
}
.main-home {
  min-height: calc(100vh - 5rem);
}

/* ---------------------- */
/* RedirectButton - COMPONENT */
/* ---------------------- */
.connection-button {
  background-color: var(--prussian-blue);
  border: white 0.2rem solid;
  padding: 1.2rem 1.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 0.4rem var(--prussian-blue),
    -0.2em 0 0.5em var(--sapphire-blue);
}
.connection-button:hover {
  background-color: var(--sapphire-blue);
  transform: scale(1.1, 1.1);
}
.redirect-button {
  cursor: pointer;
  color: var(--grey);
  font-size: 0.8rem;
}
.redirect-button:hover {
  color: var(--sapphire-blue);
}

/* ---------------------- */
/* ErrorMessage - COMPONENT */
/* ---------------------- */
.error-message {
  height: 2rem;
  width: 20rem;
  color: var(--imperial-red);
  font-size: 0.8rem;
}

/* ---------------------- */
/* FormInput - COMPONENT */
/* ---------------------- */
.form-input,
input[type="submit"] {
  height: 2rem;
  width: 20rem;
  padding: 0.4rem;
  font-size: inherit;
  outline: none;
  border: none;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}
input[type="submit"] {
  width: 10rem;
  height: 2.6rem;
  background-color: var(--capri);
  cursor: pointer;
  color: var(--prussian-blue);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
input[type="submit"]:hover {
  background-color: var(--sapphire-blue);
  color: var(--capri);
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */
footer {
  height: 5rem;
  background-color: var(--rich-black);
}
footer > div:first-child > p {
  color: var(--capri);
  margin-right: 0.4rem;
  font-size: 0.9rem;
}
footer > div:last-child {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  color: var(--grey);
  font-style: italic;
}
footer > div:last-child a:hover {
  color: var(--sapphire-blue);
}
