/* Reset CSS */
@import url("./assets/reset.css");

/* ---------------------- */
/* COMMON RULES */
/* ---------------------- */
:root {
  --bg-black: #0f1218;
  --rich-black: #041018;
  --prussian-blue: #003554;
  --sapphire-blue: #006494;
  --capri: #47c2ff;
  --alice-blue: #ebf7fe;
  --white: #fff;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-black);
  color: var(--alice-blue);
  cursor: default;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.line-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */
.header {
  height: 5rem;
  background-color: var(--rich-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .icon {
  height: 4rem;
}

/* ---------------------- */
/* MAIN */
/* ---------------------- */
main {
  min-height: calc(100vh - 10rem);
}
.main-home {
  min-height: calc(100vh - 5rem);
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */
.footer {
  height: 5rem;
  background-color: var(--rich-black);
}
